<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="stylesheet.css" />
	<title>Facebook Page Unliker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<script>
		window.fbAsyncInit = function() {
	    FB.init({
	      appId      : "<%= ENV['fb_id'] %>",
	      xfbml      : true,
	      version    : 'v2.6'
	    });
	    document.dispatchEvent(new Event('fbload'));
	  };

	  (function(d, s, id){
	    var js, fjs = d.getElementsByTagName(s)[0];
	    if (d.getElementById(id)) {return;}
	    js = d.createElement(s); js.id = id;
	    js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1";
	    fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	<%= yield %>
</body>
</html>
