<script>
	function statusChangeCallback(response) {
	  // The response object is returned with a status field that lets the
	  // app know the current login status of the person.
	  // Full docs on the response object can be found in the documentation
	  // for FB.getLoginStatus().
	  if (response.status === 'connected') {
	    // Logged into your app and Facebook.
	    launchApp();
	  } else {
	    alert("An error occurred.");
	  }
	}

	function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  var placehold = function(element) {
		element.setAttribute('src', "http://www.adweek.com/socialtimes/wp-content/uploads/sites/2/2013/01/pages-flag.png")
	};

	var launchApp = function(){

		// Adding Load More link
		var likes = document.createElement('div');
    likes.setAttribute("class", "likes");

		var link = document.createElement('a');
    link.setAttribute("id", "loadnext");
    link.setAttribute("class", "button");
    link.setAttribute("href", "#");
    link.innerHTML = '<span>Load more</span>';
		link.onclick = function(e){
			e.preventDefault();
			loadMore(this);
		};

//		If FB ever makes an Unlike endpoint.
//
//		var unlink = document.createElement('a');
//    unlink.setAttribute("id", "unlike");
//    unlink.setAttribute("class", "button");
//    unlink.setAttribute("href", "#");
//    unlink.innerHTML = '<span>Unlike selected.</span>';
//		unlink.onclick = function(e){
//			e.preventDefault();
//			unlike();
//		};

    document.getElementsByTagName("fb:login-button")[0].style.display = "none";
	  document.body.appendChild(likes);
    document.body.appendChild(link);
//    document.body.appendChild(unlink);
	  var filler = document.createElement('div');
	  filler.setAttribute('id', 'filler');
	  document.body.appendChild(filler);

		var loadMore = function(link) {
			var like_url = "/me/likes";
			if (link.getAttribute("data-after")) { like_url+="?after="+link.getAttribute("data-after"); };
			FB.api(
				like_url,
				function (response) {
				  if (response && !response.error) {
				    addLikes(response);
				  }
				}
			);
		};

		var select = function() {
			if (this.getAttribute("class").indexOf("selected") > -1){
				this.setAttribute("class", this.getAttribute("class").replace("selected", ""));
			} else {
				this.setAttribute("class", this.getAttribute("class") + " selected");
			};
		};

		var unlike = function() {
			var toUnlike = document.getElementsByClassName("selected");
			for (var i = 0; i < toUnlike.length; i++ ){
				FB.api(
			    "/"+toUnlike[i].getAttribute("data-id")+"/likes",
			    "DELETE",
			    function (response) {
			    	console.log(response);
			      if (response && !response.error) {
			      	console.log("unliking "+toUnlike[i].getAttribute("data-id"));
			        toUnlike[i].parentElement.style.display = "none";
			      }
			    }
			  );
			}
			var r = new XMLHttpRequest();
			r.open("POST", "http://www.facebook.com/ajax/pages/fan_status.php?dpr=1");
			r.onreadystatechange = function() {
				console.log(r.response);
			}
			r.send("fbpage_id=145002615551147&add=false&reload=false&fan_origin=liked_menu&fan_source&cat&actor_id&__user=1388743871&__a=1&__dyn=aKTyAW8-aloAwmgDDzbGyai8AgmzFEZz8-8GAdyeGBQC-CGm4rmnxnCWyWG2aifhKagByAp2WCGq4KE-aCK9V9EC22cyWDyV9B8V8yu23FeeKmjBQFWxdkehp8iAWyUigOfgC4VVarBBwxKqiUCFki9LzEnUObKcAyVFQaUx5GUOeiyoKqmQSF9ah9qox2Q&__req=b&__be=0&__pc=EXP1%3ADEFAULT&fb_dtsg=AQFo7Y6s_kd0%3AAQGR8ZxMkca0&ttstamp=265817011155895411595107100485865817182569012077107999748&__rev=2329596");
		}

		var addLikes = function(response){
		  var paging = response.paging
		  var nextLink;
		  if (paging) {
			  nextLink = response.paging.next
		  }
		  if (nextLink) {
			  link.setAttribute('data-after', new RegExp('^.*facebook\.com/v\\d*\\.\\d*/.*after=(.*)(&.*)?$').exec(nextLink)[1]);
			} else {
			 	link.style.display = "none";
			}
		  var likes = response.data;
		  for(var i=0; i < likes.length; i++){

				FB.api(
			    "/"+likes[i].id+"/picture",
			    function(likeObject, pos, len){
				    return function(response){
				      if (response && !response.error) {
				      	var image = response.data.url;

// In case FB ever makes an Unlike endpoint for its API
// 											¯\_(ツ)_/¯
//
//    						var like = document.createElement('a');
//    						like.onclick = select;
//						  	like.setAttribute('class', 'like');
//						  	like.setAttribute('data-id', likeObject.id);
//						  	like.innerHTML = "<img src=\""+image+"\" onerror=\"placehold(this);\">";
//						  	like.innerHTML += "<h4>"+ likeObject.name +"</h4>";
//
///////////////////////////////////////////////////////

								var like_container = document.createElement('div');
				      	like_container.setAttribute('class', 'like-container');

				      	var plugin_url = "http://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F"+ likeObject.id +"%2F&tabs=timeline&width=340&height=70&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false"
				      	var plugin_iframe = document.createElement("iframe");
				      	plugin_iframe.setAttribute("src", plugin_url);
				      	plugin_iframe.setAttribute("width", "340");
				      	plugin_iframe.setAttribute("height", "70");
				      	plugin_iframe.setAttribute("style", "border:none;overflow:hidden");
				      	plugin_iframe.setAttribute("scrolling", "no");
				      	plugin_iframe.setAttribute("frameborder", "0");
				      	plugin_iframe.setAttribute("allowTransparency", "true");

						  	//like_container.appendChild(like);
						  	like_container.appendChild(plugin_iframe);
						  	document.getElementsByClassName("likes")[0].appendChild(like_container);
				      };
				    }
			    }(likes[i], i, likes.length)
				);
			}
		};

		loadMore(link);
	};

	document.addEventListener("fbload", function() {
			checkLoginState();
	});

</script>

<fb:login-button scope="user_likes" onlogin="checkLoginState();"></fb:login-button>
