<div class="title">
	<h1>Privacy Policy of the app Page Unliker</h1>
	<p>This application collects some of your personal data for a one-time use - does not stock any.</p>
</div>
<div class="content">
	<h2>Facebook permissions asked by this application :</h2>
	<div>
		<h3>Basic Information</h3>
		<p>Allows the application to retrieve some basic informations from your public profile.</p>
	</div>
	<div>
		<h3>Likes</h3>
		<p>Allows the application to access and manage your likes.</p>
	</div>
</div>
<div class="content">
	<h2>Use of the data collected</h3>
		<div>
			<h3>Likes</h3>
			<p>Your likes are used to allow you to manage them through the application.</p>
		</div>
</div>
<div class="details">
	<p>Last updated Tue, May 10th 2016</p>
</div>
